# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcarchive
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
**/xcshareddata

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Temporary files
*.ipa
*.dSYM.zip
*.dSYM